@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Poppins', sans-serif;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
:root{
    --yellow-color:#ffbb00;
    --second-color:#dda200;
    --bg-color:#222831;
}
::selection{
    background-color: var --yellow-color;
    color: var(--bg-color);
}
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--yellow-color);
    border-radius: 30px;
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
}
ul{
    list-style: none;
    display: flex;
}
a{
   text-decoration: none;
}
.container{
  margin: 0 60px;
  padding: 0 60px;
}
.btn{
    background-color: var --yellow-color;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 25px;
    border-radius: 50px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .3s;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.btn i{
   font-size: 25px;
}
.btn:hover{
    background-color: var --second-color;
}
section{
    width: 100%;
    height: auto;
    padding: 45px 0 75px 0;
}
.section_title{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    padding-bottom: 5px;
    text-align: center;
    margin-bottom:.70px;
}
.img_fluid{
    max-width: 100%;
    height: auto;
}
/* =============== header =============== */
header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    z-index: 100;
}
header.active{
    background-color: rgba(0,0,0,1);
}
.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;   
}
.logo{
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-weight: 700;
    font-size: 32px;
}
.menu{
    display: flex;
    column-gap: 40px;
}
.menu.active{
    transform: translateX(0);
}
.menu li a {
    color: #fff;
    font-size: 18px;
    transition: .3s;
}
.menu li a.active,
.menu li a:hover{
    color: var --yellow-color;
}
.close_icon,
.toggle_icon{
    display: none;
    font-size: 40px;
}

/* =============== hero section =============== */
.hero{
    background: url(./img/pizza.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding-top: 180px;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.hero_container{
    margin:0 !important; 
}
.swiper-wrapper{
    margin: 0 60px;
}
.hero_content-item{
    padding-right: 10px;
}
.hero_content-item h1{
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
}
.hero_content item p{
    color: #fff;
    font-size: 15px;
    margin: 25px 0;
    line-height: 1.6;
}
.hero_content-item .btn{
    padding: 15px 40px;
}
.swiper-pagination{
    position: absolute;
    left: 0 !important;
    padding-left: 130px;
    display: flex;
    align-items: center;
}




    
